* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --font-family: "Poppins", sans-serif;
   --font-family-mont: "Montserrat", sans-serif;
   --font-family-taviraj: "Taviraj", serif;
  --text-lg: bold 32px/125% var(--font-family);
  --text: 400 16px/1.5 var(--font-family);
  --text-md: 400 14px/170% var(--font-family);
  --text-sm: 400 12px/170% var(--font-family);
  --text-lg: 500 40px/125% var(--font-family-taviraj);
  --title: 500 50px/125% var(--font-family-taviraj);
  --title-mobile: 500 40px/125% var(--font-family-taviraj);
  --text-lg-mobile: 400 32px/125% var(--font-family-taviraj);
}
